blockquote:before,
blockquote:after {
  position: absolute;
  color: #e0e0e0;
  font-size: 8rem;
  width: 4rem;
  height: 4rem;
}

blockquote:before {
  content: "“";
  left: -3rem;
  top: 0rem;
}

blockquote:after {
  content: "”";
  right: -3rem;
  bottom: -4rem;
}
