.animation div:first-child {
  animation: text-animation 10s infinite;
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -20vh;
  }
  30% {
    margin-top: -20vh;
  }
  40% {
    margin-top: -40vh;
  }
  60% {
    margin-top: -40vh;
  }
  70% {
    margin-top: -20vh;
  }
  80% {
    margin-top: -20vh;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}
