@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "PlayfairDisplay-VariableFont_wght";
  src: local("PlayfairDisplay-VariableFont_wght"),
    url(./fonts/PlayfairDisplay-VariableFont_wght.ttf) format("opentype");
}
@font-face {
  font-family: "Fontspring-DEMO-proximanova-light";
  src: local("Fontspring-DEMO-proximanova-light"),
    url(./fonts/Fontspring-DEMO-proximanova-light.otf) format("opentype");
}
@font-face {
  font-family: "Minerva-Modern-Regular";
  src: local("Minerva-Modern-Regular"),
    url(./fonts/Minerva-Modern-Regular.otf) format("opentype");
}

#cursor {
  position: fixed;
  width: 10px;
  height: 10px;
  background-color: #2f3137ff;
  border-radius: 100%;
  pointer-events: none;
  z-index: 1000;
  transition: transform ease-out 10ms;
}

#stalker {
  position: fixed;
  margin-top: -15px;
  margin-left: -15px;
  width: 40px;
  height: 40px;
  background-color: #2f313718;
  border-radius: 100%;
  pointer-events: none;
  transition: transform ease-out 100ms;
  z-index: 999;
}
@keyframes moveGradient {
  0% {
    background-position: 0 50px;
  }
  100% {
    background-position: 0 0;
  }
}

.boxPattern {
  background-image: linear-gradient(#dbdbdb 1px, transparent 1px),
    linear-gradient(to right, #dbdbdb 1px, #ffffff00 1px);
  background-size: 100px 100px;
  /* animation: moveGradient 5s linear infinite; */
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}
